<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="shortcut icon" type="x-icon" href="{{ url_for('static', filename= 'icon.png')}}">
    <style>
        .a001 {
            width: 23%;
        }

        .b09 {
            margin: 13vh 0 4vh 45vw;
        }

        .b123 {
            margin: 4vh 0 4vh 45vw;
        }

        .cabc {
            margin: 4vh 0 4vh 43vw;
        }

        .b612 {
            width: 80%;
            padding: 0 0 2vw 45vw;
        }

        .row {
            padding: 0 0 0 17vw;
        }
    </style>
</head>

<body>
    <!-- navigation -->
    <nav class="navbar navbar-dark bg-dark fixed-top ">

        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('about')}}"><img src="{{ url_for('static', filename= 'icon.png')}}" width="37"
                    height="32" class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sales Prediction</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('form')}}">Prediction</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Documentation
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item"
                                        href="https://drive.google.com/file/d/1FBjYS6tp5qeMka01bWzOKWoRFnSlDGUD/view?usp=drivesdk"
                                        target="_blank" rel="noopener noreferrer">Code</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('graph')}}">Graph</a></li>
                                <li><a class="dropdown-item" href="https://drive.google.com/file/d/1vyNXlFZU41N1UqirVSTeWxj16b-s-sXR/view?usp=share_link" target="_blank" rel="noopener noreferrer">Report</a></li>
                                <li><a class="dropdown-item" href="#">Presentation</a></li>
                            </ul>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about')}}">About Us</a>
                        </li>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <h2 class="b09">Co-ordinator</h2>

    <div class="col-lg-4 b612">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <h5 class="fw-normal">Dr. Vishakha chourasia</h5>
        <p>Faculty, IIIT Bhopal</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
    </div>
    <h2 class="b123">Supervisor</h2>
    <div class="col-lg-4 b612">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <h5 class="fw-normal">Dr. Deepa Sharma</h5>
        <p>Faculty, IIIT Bhopal</p>
        <!-- <p><a class="btn btn-secondary" href="#">View details »</a></p> -->
    </div>

    <h2 class="cabc">Group Members</h2>
    <div class="row">
        <div class="col-lg-4 a001">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h4 class="fw-normal">Abhay Sharma</h4>
            <p>3<sup>rd</sup>year, IT Branch</p>
            <p> <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#AS"
                    aria-controls="offcanvasExample">
                    Contribution »
                </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="AS" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Abhay Sharma(20U03007)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>

                        Contributed in:
                        <ul>
                            <li>Exploratory Data Analysis</li>
                            <li>Data Preperation</li>
                            <li>Model Building</li>
                            <li>Model Training</li>
                            <li>Model Deployment</li>
                            <li>Hyperparameter Tuning</li>
                            <li>Model Optimization</li>
                            <li>Back-End Deployment</li>
                            <li>Testing</li>
                        </ul>
                    </div>

                </div>
            </div>
            </p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 a001">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h4 class="fw-normal">Manak Verma</h4>
            <p>3<sup>rd</sup>year, IT Branch</p>
            <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#MV"
                    aria-controls="offcanvasExample">
                    Contribution »
                </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="MV" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Manak Verma(20U03064)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>

                        Contributed in:
                        <ul>
                            <li>Front-End development</li>
                            <li>Documentation</li>
                            <li>Testing</li>
                            

                        </ul>
                    </div>

                </div>
            </div>
            </p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 a001">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h4 class="fw-normal">Vimlesh Kumar</h4>
            <p>3<sup>rd</sup>year, IT Branch</p>
            <p><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#VK"
                    aria-controls="offcanvasExample">
                    Contribution »
                </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="VK" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vimlesh Kumar(20U03048)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>

                        Contributed in:
                        <ul>

                            <li>Data Collection</li>
                            <li>Data Cleaning</li>
                            <li>Model Understanding</li>
                            <li>Documentation</li>
                            <li>Testing</li>
                        </ul>
                    </div>

                </div>
            </div>
            </p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4 a001">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
            </svg>
            <h4 class="fw-normal">Vivek singh</h4>
            <p>3<sup>rd</sup>year, IT Branch</p>
            <p><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#VS"
                    aria-controls="offcanvasExample">
                    Contribution »
                </button>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="VS" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Vivek Singh(20U03069)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div>

                        Contributed in:
                        <ul>
                            <li>Data Collection</li>
                            <li>Collecting Prior Knowledge</li>
                            <li>Testing</li>
                        </ul>
                    </div>

                </div>
            </div>
            </p>
        </div><!-- /.col-lg-4 -->
    </div>

    <footer class=" py-5 my-4 col bg-dark">

        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item text-light"><a href="#" class="nav-link pt-1 mt-1 px-4 text-white change01"><a
                        class="navbar-brand" href="{{ url_for('about')}}"><img
                            src="{{ url_for('static', filename= 'icon.png')}}" width="37" height="32"
                            class="d-inline-block align-text-top"></a></a></li>
            <li class="nav-item text-light"><a href="{{ url_for('index')}}"
                    class="nav-link px-2 pt-4 text-white">Home</a></li>
            <li class="nav-item text-light"><a href="{{ url_for('form')}}"
                    class="nav-link px-2 pt-4 text-white">Results</a></li>
            <li class="nav-item text-light"><a href="{{ url_for('resource')}}"
                    class="nav-link px-2 pt-4 text-white">Resources</a>
            </li>
            <li class="nav-item text-light"><a href="{{ url_for('about')}}"
                    class="nav-link px-2 pt-4 text-white">About</a></li>
        </ul>
        <p class="text-center text-light"><a href="https://www.iiitbhopal.ac.in/"
                class="link-light text-light text-decoration-none" target="_blank" rel="noopener noreferrer">© 2023
                Group No.09, IIIT Bhopal<br>
                Created in the partial fulfillment for the award of the degree of<br>
                BACHELOR OF TECHNOLOGY<br>
                (Department of Information Technology)
            </a>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>